rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow a user to create, read, and write their own user document.
      allow read, write, create: if request.auth != null && request.auth.uid == userId;

      // Allow a user to manage documents in their own 'facilities' subcollection.
      match /facilities/{facilityId} {
        allow read, write, create: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
